<div class="flex flex-col items-center md:items-baseline mb-24 py-12 px-5 md:px-32">
  <div>
    <h1 class="text-3xl md:text-4xl mb-12 font-bold uppercase text-blue-900 max-w-xs text-center md:text-left">
      Where is your next awesome trip!
    </h1>
  </div>
  <div class="flex flex-col md:flex-row md:space-x-8 md:items-start  w-full">

    <!-- Search from -->
    <div class="flex w-full md:w-6/12 justify-center md:justify-start">
      <form [formGroup]="searchForm" class="flex flex-col center w-full max-w-sm order-2" errorTailor>
        <!-- Selectors -->
        <div class="flex flex-col">
          <div class="bg-white rounded-md p-1 border-gray-200 border-2">
            <select formControlName="from" (change)="onSelectionChange()"
              class="w-full border border-gray-200 p-2 focus:outline-none focus:border-gray-500 border-none font-bold focus:ring-2 focus:ring-blue-500 text-blue-500 rounded-sm">
              <option value="" disabled>From</option>
              <option class="flex" *ngFor="let city of availableCities" [value]="city">
                <label for="from-city">{{city}}</label>
              </option>
            </select>
          </div>
          <!-- Reverser -->
          <div class="flex justify-center my-2">
            <span class="block w-6 mx-2 cursor-pointer text-blue-800 hover:text-blue-600" (click)="reverse()">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path
                  d="M5 12a1 1 0 102 0V6.414l1.293 1.293a1 1 0 001.414-1.414l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 001.414 1.414L5 6.414V12zM15 8a1 1 0 10-2 0v5.586l-1.293-1.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L15 13.586V8z" />
              </svg>
            </span>
          </div>
          <div class="bg-white rounded-md p-1 border-gray-200 border-2">
            <select formControlName="to" (change)="onSelectionChange()"
              class="w-full border border-gray-200 p-2 focus:outline-none focus:border-gray-500 border-none font-bold focus:ring-1 focus:ring-blue-500 text-blue-500 rounded-sm">
              <option value="" disabled>To</option>
              <option class="flex" *ngFor="let city of availableCities" [value]="city">
                <label for="city-to">{{city}}</label>
              </option>
            </select>
          </div>
        </div>

        <!-- Search Options -->
        <div class="flex space-x-2 my-5">
          <button *ngFor="let option of suggestOptions | keyvalue" (click)="updateSuggestionType(option.key)"
            class="flex items-center w-full justify-center bg-gray-500 text-white py-2 focus:outline-none focus:ring-1 focus:ring-blue-500 rounded-md"
            [ngClass]="{'bg-blue-800 ': option.key === suggestedBy, 'hover:bg-blue-500':option.key !== suggestedBy}">
            <span *ngIf="option.key === suggestOptions.cheapest" class="w-4 mx-2 block cursor-pointer">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M14.121 15.536c-1.171 1.952-3.07 1.952-4.242 0-1.172-1.953-1.172-5.119 0-7.072 1.171-1.952 3.07-1.952 4.242 0M8 10.5h4m-4 3h4m9-1.5a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </span>
            <span *ngIf="option.key === suggestOptions.fastest" class="w-4 mx-2  cursor-pointer">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M5 2a1 1 0 011 1v1h1a1 1 0 010 2H6v1a1 1 0 01-2 0V6H3a1 1 0 010-2h1V3a1 1 0 011-1zm0 10a1 1 0 011 1v1h1a1 1 0 110 2H6v1a1 1 0 11-2 0v-1H3a1 1 0 110-2h1v-1a1 1 0 011-1zM12 2a1 1 0 01.967.744L14.146 7.2 17.5 9.134a1 1 0 010 1.732l-3.354 1.935-1.18 4.455a1 1 0 01-1.933 0L9.854 12.8 6.5 10.866a1 1 0 010-1.732l3.354-1.935 1.18-4.455A1 1 0 0112 2z"
                  clip-rule="evenodd" />
              </svg>
            </span>
            <label for="search" class="cursor-pointer">{{option.key}}</label>
          </button>
        </div>

        <div class="my-2 -mt-4 text-red-600">{{errorMessage}}</div>

        <!-- Search button -->
        <button 
          class="flex items-center justify-center bg-green-500 text-white py-2 focus:outline-none focus:ring-1 focus:ring-green-600 rounded-md"
          (click)="getSuggestion()">
          <span class="w-4 mx-2 cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
            </svg>
          </span>
          <label class="cursor-pointer" for="search">Search</label>
        </button>
      </form>
    </div>

    <div class="w-full md:w-6/12 mt-12 md:-mt-40">
      <!-- Results Component -->
      <suggest-result @fadeAnimation *ngIf="bestSuggestion && bestSuggestion?.route.length;else defaultMessage"
        [suggestion]="bestSuggestion" [suggestedBy]="suggestedBy" (onReset)="reset()"></suggest-result>
    </div>
    <ng-template #defaultMessage>
      <div>
        <h1 class="text-2xl md:text-5xl font-bold uppercase mt-14 text-blue-900">
          <span *ngIf="bestSuggestion && bestSuggestion?.route.length == 0"
            class="mb-2 font-bold block text-base text-yellow-600">
            Sorry, No Deals matchs your selection
          </span>
        </h1>
      </div>

    </ng-template>


  </div>
</div>