<div class="border border-gray-100 rounded-md shadow-2xl pt-10 pb-14 px-6">
  <h1 class="font-bold mb-5 text-green-600 text-xl">Results</h1>
  <!-- Optemization message -->
  <div class="flex items-center my-1 text-green-600">
    <span class="w-4 mr-1">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z" />
      </svg>
    </span>
    <small>{{optemizeMessage}}</small>
  </div>

  <!-- Trip details -->
  <section [@listAnimation]="suggestions.length">
    <div *ngFor="let trip of suggestions" class="flex flex-col justify-center border-b py-5">
      <div class="flex items-center justify-between">
        <label for="london" class="w-24 font-bold">{{trip.departure}}</label>
        <span class="block font-bold w-4 mx-1">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
          </svg>
        </span>
        <label for="london" class="w-24 font-bold">{{trip.arrival}}</label>
        <label *ngIf="trip.discount === 0" for="trip-price" class="ml-8 font-bold block relative">
          €{{trip.cost}}
        </label>
        <label *ngIf="trip.discount > 0" for="trip-price" class="ml-8 font-bold block relative">
          <small *ngIf="trip.discount"
            class="line-through block absolute -top-3 text-xs text-red-600">€{{trip.cost}}</small>
          €{{trip.costAfterDiscount}}
        </label>
      </div>
      <small class="mt-1 text-xs"><strong>{{trip.transport | titlecase}}</strong> {{trip.reference}} for
        <strong>{{trip.duration.h}}h{{trip.duration.m}}</strong></small>
    </div>
  </section>

  <!-- total -->
  <div class="flex justify-between py-3 my-4">
    <label for="total-title" class="font-bold">Total</label>
    <label for="total-time" class="text-gray-500 relative">
      <small class="block absolute -top-4 text-xs capitalize">time</small>
      <span class="text-green-600 font-bold">{{suggestion.duration}}</span>
    </label>
    <label for="total-price" class="text-gray-500 relative">
      <small class="block absolute -top-4 text-xs capitalize">price</small>
      <span class="text-green-600 font-bold">€{{suggestion.cost}}</span>
    </label>
  </div>

  <!-- Reset button -->
  <button (click)="reset()"
    class="flex items-center justify-center bg-green-500 text-white py-2 focus:outline-none focus:ring-1 focus:ring-green-600 rounded-md w-full"
    type="submit">
    <span class="w-4 mx-2">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
      </svg>
    </span>
    <label for="search">Reset</label>
  </button>
</div>